<div class="standard_page">
  <h3>About Us</h3>
  <p>
  The Great Lakes Refugee Association of Greater Seattle was formed in 2010 by a group of former refugees from Burundi. Our mission is to support, nurture and inspire refugees through community based services.
  </p>
  <p>
  We provide community based services including resource and referral, emergency assistance, youth mentoring, family and cultural preservation programs. Our service population includes refugees and asylees from Burundi, Congo, DRC, Rwanda, Tanzania and Uganda (The Great Lakes).
  </p>
  
  <br/>

  <h3>Board of Directors</h3>

<ul>
  <li>Andrew Nduwimana, President</li>
  <li>Serges Hakizamana</li>
  <li>Nyabenda Grace</li>
  <li>Kabura Roger</li>
  <li>Odax Manarakiza</li>
  <li>Sibomana Celestine</li>
  <li>Emmanuel Mbinimpaye</li>
  <li>Dunia Ndaruinze</li>
  <li>Augustin Ndayisenga</li>
  <li>Rosalie Nizigiyimana</li>
  <li>Diana Ndayahundwa</li>
  <li>Josephine Niyonzima</li>
  <li>Ann Strandoo M.S.W.</li>
</ul>
</div>