<div class="standard_page">
  <h3> Contact </h3>
  
  <p>We are temporarily located at the Church by the Side of the Road in Tukwila, please contact us and make an appointment to meet in person</p>
  
  <p> Contact us at Andrew by phone (253) 335-8104 or write to Andrew Nduwimana at his e-mail <a href="mailto:andviol2@gmail.com">andviol2@gmail.com</a></p>  
  
  <p> For volunteering questions or donations contact to Ann Strandoo at her e-mail <a href="mailto:annstrandoo@gmail.com">annstrandoo@gmail.com</a> </p> 
  
</div>