<div class="standard_page">
  <h3> Contact </h3>
  
  <p>We are temporarily located at the Church by the Side of the Road in Tukwila,</p> 
  <p>please contact us and make an appointment to meet in person</p>
  
  </br>
  
  <p>Contact us at Andrew by phone (253) 335-8104</p> 
  <p>or write to Andrew Nduwimana at his e-mail <a href="mailto:andviol2@gmail.com"> andviol2@gmail.com </a></p>  
  
  </br>
  
  <p> For volunteering questions or donations</p> 
  <p>contact to Ann Strandoo at her e-mail <a href="mailto:annstrandoo@gmail.com">annstrandoo@gmail.com</a> </p> 
  
</div>