<div id="all">
  <h2>The Great Lakes Region of Africa</h2>
  
    <div class="text_block">  
      <p>
    The African Great Lake region comprises Burundi, Rwanda, north-eastern DR Congo, Uganda and north-western Kenya and Tanzania. Because of the density of population and the agricultural surplus in the region the area became highly organized into a number of small states. The most powerful of these monarchies were Rwanda, Burundi, Buganda, and Bunyoro. Unusual for sub-Saharan Africa, the traditional borders were largely maintained by the colonial powers.
      </p>
      <p>
    The region had long been of interest to Europeans. The first Europeans to arrive in the region in any numbers were missionaries who had limited success in converting the locals, but did open the region to later colonization. While seen as a region with great potential after independence, the region has in recent decades been marred by civil war and conflict, from which only Tanzania has largely escaped. The worst affected areas have been left in great poverty.
      </p>
    </div>
  </div>

<div id="tanzania" class="info">
  <h2>Tanzania</h2>
    <img class="background" src="/images/tanzania_gray.png"/>
    <img class="flag" src="/images/tanzania_flag.png"/>

  <div class="text_block">
    <p>
  In 2000m Tanzania for granting citizenship to some 162,000 refugees who fled Burundi 38 years ago. "It's the most generous naturalisation of refugees anywhere," said UN refugee agency spokeswoman Melissa Fleming.  UNHCR head Antonio Guterres described it as a "historic moment" and urged other countries with long-term refugees to follow Tanzania's example.  
    </p>
    <p>
  Until 2000, Tanzania had one of Africa's largest refugee populations, 680,000, from Burundi and DR Congo.  Some 350,000 Burundians have returned home in recent years, says the UNHCR.  A UN spokeswoman said most of those granted Tanzanian nationality were Hutus. They had mostly fled conflict with the Tutsi-dominated army.  The spokeswoman said they were already integrated into Tanzanian society and were not living in refugee camps, reports the Reuters news agency.
    </p>
  </div>
</div>

<div id="uganda" class="info">
  <h2>Uganda</h2>
    <img class="background" src="/images/uganda_gray.png"/>
    <img class="flag" src="/images/uganda_flag.png"/>
  
  <div class="text_block">
    <p>
  Uganda has experienced refugee flight due to various rebel insurgencies during the past decade. The violence has led to the kidnapping of thousands of teenagers who are forced into service in paramilitary groups, the most notorious of which is known as the Lord's Resistance Army. When these young people are returned to civilian life they must enter rehabilitation camps to help them adjust to living with debilitating physical and psychological trauma.
    </p>
    <p>
      In 1996, Uganda supported of the overthrow of Zairean President Mobutu Sese Seko in the First Congo War in favor of rebel leader Laurent-Désiré Kabila. Between 1998 and 2003, the Ugandan army fought in the Second Congo War in the renamed Democratic Republic of the Congo and the government continues to support rebel groups such as the Movement for the Liberation of Congo and some factions of the Rally for Congolese Democracy.
    </p>
  </div>
</div>

<div id="burundi" class="info">
  <h2>Burundi</h2>
    <img class="background" src="/images/burundi_gray.png"/>
    <img class="flag" src="/images/burundi_flag.png"/>

  <div class="text_block">
    <p>
    On April 27, 1972, a rebellion led by some Hutu members of the gendarmerie broke out in the lakeside towns of Rumonge and Nyanza-Lac and declaring the "Martyazo Republic". Countless atrocities were reported by eyewitnesses, and the armed Hutu insurgents proceeded to kill every Tutsi in sight, as well as the Hutus that refused to join the rebellion. It is estimated that during this initial Hutu outbreak, anywhere from 800 to 1200 people were killed.
    </p>
    <p>
    President Michel Micombero (Tutsi) proclaimed martial law and systematically proceeded to slaughter Hutus en masse. The Tutsi-controlled government authorities originally estimated that roughly 15,000 had been killed while Hutu opponents claimed number was actually far closer to 300,000. Today, estimates hover in between these two figures, at between 80,000 to 210,000 killed. Several hundred thousand are estimated to have fled the genocide.
    </p>
  </div>
</div>

<div id="rwanda" class="info">
  <h2>Rwanda</h2>
    <img class="background" src="/images/rwanda_gray.png"/>
    <img class="flag" src="/images/rwanda_flag.png"/>

  <div class="text_block">
    <p>
    During the one-hundred-day genocide, hundreds of thousands of Rwandan Tutsi and sympathizers were massacred at the hands of predominantly Hutu aggressors. The genocide ended when the Hutu government in Kigali was overthrown by the Tutsi-dominated RPF.
    </p>  
    <p>
    Of those who fled Rwanda during the Great Lakes refugee crisis, about 1.5 million settled in eastern Zaire. These refugees included those who fled the génocidaires as well as those that fled the RPF fearing retaliation. Prominent among the latter group were the génocidaires themselves, such as elements of the former Rwandan Army, Forces Armées Rwandaises (FAR), and independent Hutu extremist groups known as Interahamwe. They set up camps in eastern Zaire from which they attacked both the newly-arrived Rwandan Tutsi as well as the Banyamulenge and Banyarwanda 
    </p>
  </div>
</div>

<div id="congo" class="info">
  <h2>Congo</h2>
    <img class="background" src="/images/congo_gray.png"/>
    <img class="flag" src="/images/congo_flag.png"/>
    
  <div class="text_block">
    <p>
As a result of the Rwandan Genocide, tens of thousands of refugees also moved into Zaire. Some of these were officials and soldiers associated with the genocide and their families, but most were simply swept along in the giant waves of people. The AFDL and Rwandan RPF forces pursued the militants westward and tens of thousands of refugees died of violence, exposure to the elements, and starvation in the jungles of eastern Zaire.
    </p>
    <p>
In December 1996, the government of Tanzania announced that the 550,000 Rwandan refugees it was hosting must return and forcibly emptied the camps over the next few months. By the beginning of 1997, the vast majority of refugees who had fled in the aftermath of the Rwandan Genocide has returned. The refugee crisis precipitated by an internal genocide had been ended by a new war.
    </p>
  </div>
</div>

<div id="kenya" class="info">
  <h2>Kenya</h2>
    <img class="background" src="/images/kenya_gray.png"/>
    <img class="flag" src="/images/kenya_flag.png"/>

  <div class="text_block">
    <p>  
  The last general elections were held on 27 December 2007. In them, President Kibaki under the Party of National Unity ran for re-election against the main opposition party, the Orange Democratic Movement (ODM). The elections were seen to have been flawed with international observers saying that they were below international standards.
    </p>
    <p>
  Odinga was shown to have a slight, then substantial lead as the results from his strongholds came in early. As the ECK continued to count the votes, Kibaki closed the gap and then overtook his opponent by a substantial margin after votes from his stronghold arrived later. This led to protests and open discrediting of the Electoral Commission of Kenya (ECK) for complicity. Odinga declared himself the "people's president" and called for a recount. The protests escalated into violence, almost 1,000 people were killed and nearly 600,000 displaced.
    </p>
  </div>
</div>




   
<div id="roundrr_navigation"> 
  <a href="#" id="prev">« prev</a>  
  <a href="#" id="next">next »</a>
</div>

<div class="container"> 

<!-- central image -->
<div class="roundrr_center">
</div>

<div id="map_cache">
  <img  alt="burundi-in-red" class="hidden_map" src="/images/burundi_map_gray.png"></img> 
  <img  alt="congo-in-red" class="hidden_map" src="/images/congo_map_gray.png"></img>  
  <img  alt="kenya-in-red" class="hidden_map" src="/images/kenya_map_gray.png"></img>  
  <img  alt="rwanda-in-red" class="hidden_map" src="/images/rwanda_map_gray.png"></img>  
  <img  alt="tanzania-in-red" class="hidden_map" src="/images/tanzania_map_gray.png"></img>  
  <img  alt="uganda-in-red" class="hidden_map" src="/images/uganda_map_gray.png"></img>
</div>

<!-- the container of images -->
<div id='roundrr_container'>
	<ul class='list'>

	<li class='item'>	
	<div class='my_class'> 
	<strong><img alt="burundi" src="/images/burundi_flag_map.png"></img> 
	</div>	
	</li>


	
	<li class='item'>	
	<div  class='my_class'>  
	<img alt="congo"src="/images/congo_flag_map.png"></img>  
	</div>	
	</li>

	
		<li class='item'>	
	<div class='my_class'>  
	<img  alt="kenya" src="/images/kenya_flag_map.png"></img>  </div>	</li>
	
	
	<li class='item'>	
	<div class='my_class'>  
	<img  alt="rwanda" src="/images/rwanda_flag_map.png"></img>  </div>	</li>
	
	
	
	<li class='item'>	
	<div class='my_class'>  
	<img  alt="tanzania" src="/images/tanzania_flag_map.png"></img>  </div>	</li>
	
	
	<li class='item'>	
	<div class='my_class'>  
	<img  alt="uganda" src="/images/uganda_flag_map.png"></img>  </div>	</li></strong>
</ul>
</div>
</div>